main p, main a, main span, main h1, main h2, main h3, main h4, main h5, main h6 {
  color: #000;
}

.overlay-popup {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background: rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s ease, visibility 0.3s;
}

.overlay-popup.active {
  opacity: 1;
  visibility: visible;
}

.side-popup {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 31rem;
  z-index: 4;
  transform: translateX(105%);
  transition: transform 0.3s ease, visibility 0.3s;
}
@media (max-width: 1800px) {
  .side-popup {
    width: 24rem;
  }
}
@media (max-width: 1400px) {
  .side-popup {
    width: 18rem;
  }
}
@media (max-width: 768px) {
  .side-popup {
    width: 100%;
  }
}
.side-popup__holder {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 30px 0 0 30px;
  background: #fff;
}
@media (max-width: 1800px) {
  .side-popup__holder {
    padding: 0 3.5rem;
  }
}
@media (max-width: 1400px) {
  .side-popup__holder {
    padding: 0 2rem;
  }
}
@media (max-width: 768px) {
  .side-popup__holder {
    border-radius: 0;
  }
}
.side-popup__closer {
  background: none;
  border: none;
  width: 1.2rem;
  aspect-ratio: 1/1;
  position: absolute;
  top: 2rem;
  right: 2rem;
}
.side-popup__title {
  font-family: Inter, serif;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.2;
  margin-bottom: 0.8rem;
}
@media (max-width: 1400px) {
  .side-popup__title {
    font-size: 1.2rem;
  }
}
.side-popup__text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2;
  margin-bottom: 4.5rem;
}
@media (max-width: 1400px) {
  .side-popup__text {
    font-size: 0.8rem;
  }
}
.side-popup__reg {
  color: #fff;
  background: #3D3126;
  border: none;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2;
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 0.4rem;
}
@media (max-width: 1400px) {
  .side-popup__reg {
    font-size: 0.7rem;
  }
}
.side-popup__guest {
  width: 100%;
  color: #3D3126;
  border: 1px solid #3D3126;
  font-weight: 400;
  line-height: 1.2;
  font-size: 1rem;
  padding: 0.75rem;
}
@media (max-width: 1400px) {
  .side-popup__guest {
    font-size: 0.7rem;
  }
}
.side-popup.active {
  visibility: visible;
  transform: translateX(0);
}

.search {
  grid-column: 1/-1;
  margin-bottom: 8rem;
  display: none;
}
@media (max-width: 1800px) {
  .search {
    margin-bottom: 8rem;
  }
}
@media (max-width: 1400px) {
  .search {
    margin-bottom: 6rem;
  }
}
@media (max-width: 1024px) {
  .search {
    margin-bottom: 4.5rem;
  }
}
@media (max-width: 768px) {
  .search {
    margin-bottom: 1.5rem;
  }
}
@media (max-width: 768px) {
  .search {
    display: block;
    margin-bottom: 0.5rem;
  }
}
.search__search-inp {
  width: 100%;
  padding: 0.7rem;
  font-weight: 400;
  font-size: 0.6rem;
  color: #776e65;
  background: #f4f1f1;
  border: 1px solid #e1dbdb;
  border-radius: 10px;
}
.search__search-inp-holder {
  position: relative;
}
.search__search-inp-holder::after {
  content: "";
  background: url(../images/search-icon.svg) no-repeat center/contain;
  width: 1.4rem;
  height: 1.4rem;
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 1024px) {
  .search__search-inp-holder::after {
    display: block;
    width: 1rem;
    height: 1rem;
  }
}
.cart {
  margin-bottom: 8rem;
}
@media (max-width: 1800px) {
  .cart {
    margin-bottom: 8rem;
  }
}
@media (max-width: 1400px) {
  .cart {
    margin-bottom: 6rem;
  }
}
@media (max-width: 1024px) {
  .cart {
    margin-bottom: 4.5rem;
  }
}
@media (max-width: 768px) {
  .cart {
    margin-bottom: 1.5rem;
  }
}
@media (max-width: 1024px) {
  .cart {
    row-gap: 1.2rem;
  }
}
@media (max-width: 768px) {
  .cart {
    padding: 0;
  }
}
.cart__no-products {
  grid-column: 1/-1;
  border-radius: 20px;
  box-shadow: 1px 1px 60px 0 rgba(0, 0, 0, 0.04);
  background: #fff;
  padding: 16rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
@media (max-width: 1800px) {
  .cart__no-products {
    padding: 12rem 1.5rem;
  }
}
@media (max-width: 1400px) {
  .cart__no-products {
    padding: 10rem 1.5rem;
  }
}
@media (max-width: 1024px) {
  .cart__no-products {
    padding: 8rem 1.5rem;
    gap: 1.5rem;
  }
}
@media (max-width: 768px) {
  .cart__no-products {
    padding: 11rem 1.5rem;
  }
}
.cart__title {
  font-family: Inter, serif;
  font-size: 1.8rem;
  line-height: 142%;
  letter-spacing: -0.02em;
  color: rgba(0, 0, 0, 0.6);
}
@media (max-width: 1800px) {
  .cart__title {
    font-size: 1.4rem;
  }
}
@media (max-width: 1400px) {
  .cart__title {
    font-size: 1rem;
  }
}
@media (max-width: 1024px) {
  .cart__title {
    font-size: 0.9rem;
  }
}
@media (max-width: 768px) {
  .cart__title {
    font-size: 0.8rem;
  }
}
.cart__catalog-btn {
  color: #3D3126;
  border: 1px solid #3D3126;
  font-size: 0.7rem;
  padding: 0.7rem 0.5rem;
}
@media (max-width: 1400px) {
  .cart__catalog-btn {
    font-size: 0.6rem;
  }
}
@media (max-width: 1024px) {
  .cart__catalog-btn {
    padding: 0.5rem;
  }
}
.goods__title {
  font-family: Inter, serif;
  font-size: 1.4rem;
  line-height: 1.2;
  font-weight: 500;
  grid-column: 1/-1;
  margin-bottom: 3rem;
  text-align: left;
}
@media (max-width: 1024px) {
  .goods__title {
    font-size: 1rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 768px) {
  .goods__title {
    margin-bottom: 1.5rem;
  }
}
.goods .catalog__list {
  grid-column: 2/12;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 0.8rem;
  row-gap: 1.5rem;
  margin-bottom: 3rem;
}
@media (max-width: 1800px) {
  .goods .catalog__list {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (max-width: 1400px) {
  .goods .catalog__list {
    column-gap: 0.6rem;
    row-gap: 1.2rem;
  }
}
@media (max-width: 1024px) {
  .goods .catalog__list {
    grid-column: 1/-1;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 2rem;
  }
}
@media (max-width: 768px) {
  .goods .catalog__list {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.4rem;
    row-gap: 0.8rem;
    margin-bottom: 1.5rem;
  }
}
.goods .catalog__item {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
@media (max-width: 1400px) {
  .goods .catalog__item {
    gap: 0.6rem;
  }
}
.goods .catalog__item-img {
  border: 1px solid #a98568;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  aspect-ratio: 1/1.2;
}
.goods .catalog__item-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: transform 0.3s;
}
.goods .catalog__item-pic:hover {
  transform: scale(1.05);
}
.goods .catalog__item-like {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 1.6rem;
  height: 1.6rem;
}
@media (max-width: 768px) {
  .goods .catalog__item-like {
    width: 1.2rem;
    height: 1.2rem;
  }
}
.goods .catalog__item-name {
  line-height: 1.2;
  font-size: 0.8rem;
}
@media (max-width: 1400px) {
  .goods .catalog__item-name {
    font-size: 0.7rem;
  }
}
@media (max-width: 768px) {
  .goods .catalog__item-name {
    font-size: 0.6rem;
  }
}
.goods .catalog__item-price {
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: -0.02em;
  text-align: right;
}
.goods .catalog__item-btn {
  width: 100%;
  min-width: 0;
  border: 1px solid #3D3126;
  color: #3D3126;
}
.goods__more {
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.goods__more-link {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
@media (max-width: 768px) {
  .goods__more-link {
    gap: 0;
  }
}
.goods__more-link img {
  width: 1.2rem;
}

/*# sourceMappingURL=cart--no-items.css.map */
