.hero {
  padding-top: 5rem;
  margin-bottom: 9rem;
  row-gap: 0.4rem;
}
.hero__slider {
  height: 35rem;
  grid-column: 1/7;
}
.hero .slick-list {
  height: 100%;
}
.hero .slick-list .slick-track {
  height: 100%;
}
.hero .slick-dots {
  display: flex !important;
  justify-content: center;
  gap: 0.2rem;
}
.hero .slick-dots li {
  font-size: 0.4rem;
}
.hero .slick-active .hero__bullet {
  background: #3D3126;
}
.hero__slide {
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.hero__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero__slide--1-sales {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  position: absolute;
  left: 1rem;
  top: 1rem;
  width: 16.5rem;
}
.hero__slide--1-sale, .hero__slide--2-sale {
  border: 1px solid rgba(255, 255, 255, 0.56);
  border-radius: 20px;
  width: 100%;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.08);
  display: flex;
  flex-direction: column;
  padding: 0.6rem 0.6rem 0.8rem 1.2rem;
}
.hero__slide--1-icon, .hero__slide--2-icon {
  width: 1.6rem;
  align-self: flex-end;
}
.hero__slide--1-title, .hero__slide--2-title {
  color: #fff;
}
.hero__slide--1-title-1 {
  margin-top: 0.8rem;
  margin-bottom: 2.5rem;
}
.hero__slide--1-title-2 {
  margin-top: -0.8rem;
  margin-bottom: 0.8rem;
}
.hero__slide--1-desc, .hero__slide--2-desc {
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.8rem;
  line-height: 1.2;
}
.hero__slide--2-sales {
  display: grid;
  grid: 1fr 1fr/1fr 1fr;
  grid-template-areas: "A A" "B C";
  gap: 0.4rem;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
}
.hero__slide--2-sale {
  height: 100%;
  justify-content: space-between;
}
.hero__slide--2-sale-1 {
  grid-area: A;
  padding: 0.8rem 0.8rem 1.2rem 1.4rem;
}
.hero__slide--2-sale-2 {
  grid-area: B;
  border: none;
  backdrop-filter: none;
  background: #3D3126;
  padding: 0.8rem;
}
.hero__slide--2-sale-3 {
  grid-area: C;
  border: none;
  backdrop-filter: none;
  background: #f6e9d8;
  padding: 0.8rem;
}
.hero__slide--2-sale-1 .hero__slide--2-icon {
  width: 2.2rem;
}
.hero__slide--2-sale-2 .hero__slide--2-icon, .hero__slide--2-sale-3 .hero__slide--3-icon {
  display: flex;
  justify-content: space-between;
  width: auto;
  align-self: auto;
}
.hero__slide--2-sale-2 .hero__slide--2-icon img, .hero__slide--2-sale-3 .hero__slide--3-icon img {
  width: 1.6rem;
}
.hero__slide--2-title-1 {
  margin-bottom: 1.6rem;
}
.hero__slide--2-subtitle, .hero__slide--3-subtitle {
  font-weight: 400;
  font-size: 0.5rem;
  color: rgba(255, 255, 255, 0.7);
  padding-right: 0.1rem;
}
.hero__slide--3-subtitle {
  color: #3D3126;
}
.hero__slide--2-desc, .hero__slide--3-desc {
  padding-right: 21rem;
}
.hero__slide--2-pic, .hero__slide--3-pic {
  width: 50%;
  align-self: center;
}
.hero__slide--2-info, .hero__slide--3-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.hero__slide--2-price, .hero__slide--3-price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.hero__slide--2-price-old, .hero__slide--3-price-old {
  font-weight: 500;
  font-size: 0.5rem;
  text-decoration: line-through;
  color: rgba(255, 255, 255, 0.79);
  display: block;
}
.hero__slide--3-price-old {
  color: #3D3126;
}
.hero__slide--2-price-new, .hero__slide--3-price-new {
  font-weight: 600;
  font-size: 16px;
  color: #ff3737;
  display: block;
  padding-right: 0.25rem;
}
.hero__bullets {
  grid-column: 1/7;
}
.hero__bullet {
  width: 0.4rem;
  height: 0.4rem;
  background: none;
  border: 1px solid #3D3126;
  border-radius: 50%;
}
.hero__info {
  grid-column: 7/-1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0 8rem;
  height: 100%;
  border-radius: 20px;
  background: #3D3126;
  position: relative;
}
.hero__title {
  color: #fff;
  text-align: center;
}
.hero__desc {
  color: #fff;
  text-align: center;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.hero__btn {
  transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}
.hero__btn:hover {
  color: #3D3126;
  background: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.5);
}
.hero__socials {
  position: absolute;
  right: 1.2rem;
  bottom: 1.2rem;
}

.about {
  margin-bottom: 9rem;
}
.about__img {
  grid-column: 1/8;
}
.about__info {
  grid-column: 8/-1;
  padding-left: 5rem;
  align-self: center;
}
.about__text {
  line-height: 1.2;
  margin-bottom: 1.5rem;
}
.about__btn {
  border-color: #3D3126;
  color: #3D3126;
}

.hits {
  margin-bottom: 9rem;
}
.hits__title {
  margin-bottom: 1.5rem;
}
.hits__cards-block--1 {
  grid-column: 1/7;
  display: grid;
  grid: 1fr 1fr/1fr 1fr;
  gap: 0.4rem;
}
.hits__card {
  height: 100%;
  aspect-ratio: 1/1;
  position: relative;
}
.hits__card:hover .hits__card--on-hover {
  visibility: visible;
  opacity: 1;
}
.hits__card:hover .hits__pic {
  transform: scale(1.1);
}
.hits__card-holder {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #a98568;
  background: #fff;
  border-radius: 10px;
  padding: 0.8rem;
  height: 100%;
}
.hits__cards-block--2 > .hits__card-holder {
  padding: 1.4rem;
}
.hits__card--on-hover {
  pointer-events: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s;
}
.hits__name--on-hover {
  font-weight: 600;
  font-size: 1.2rem;
  color: #fff;
  line-height: 1.4;
}
.hits__subname--on-hover {
  font-weight: 500;
  color: #fff;
  margin-bottom: 0.6rem;
}
.hits__price--on-hover {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.4;
  letter-spacing: -0.03em;
  color: #fff;
}
.hits__icon {
  align-self: flex-end;
}
.hits__icon img {
  width: 1.6rem;
}
.hits__pic {
  max-height: 14rem;
  transform: scale(1);
  transition: transform 0.3s;
}
.hits__cards-block--2 .hits__pic {
  max-height: none;
}
.hits__pic img {
  width: auto;
  height: 100%;
}
.hits__name {
  font-size: 1.2rem;
  line-height: 1.4;
}
.hits__cards-block--2 {
  grid-column: 7/-1;
  aspect-ratio: 1/1;
}

.service {
  margin-bottom: 9rem;
}
.service__header {
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.service__btn {
  border: 1px solid #3D3126;
  color: #3D3126;
}
.service__block {
  border-radius: 20px;
  padding: 1.2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.8rem;
}
.service__block--1 {
  grid-column: 1/5;
  background: rgba(244, 241, 241, 0.8);
}
.service__block--2 {
  grid-column: 5/9;
  background: rgba(227, 210, 195, 0.84);
}
.service__block--3 {
  grid-column: 9/-1;
  background: #f6f3f3;
}
.service__name {
  font-size: 1.6rem;
}
.service__repair {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.service__repair-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.service__repair-num {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.2;
  letter-spacing: -0.02em;
}
.service__repair-name {
  line-height: 1.2;
}
.service__catalog-header {
  line-height: 1.2;
  text-align: right;
}
.service__catalog-header img {
  width: 1.6rem;
  margin-left: 0.1rem;
  vertical-align: middle;
}
.service__catalog {
  font-weight: 500;
  font-size: 1.6rem;
  letter-spacing: -0.02em;
  color: #24170a;
}
.service__delivery-item {
  display: flex;
  justify-content: space-between;
  gap: 0.6rem;
}
.service__delivery-pic {
  max-width: 8.5rem;
  border-radius: 10px;
  overflow: hidden;
}
.service__delivery-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.service__delivery-info {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.service__delivery-title {
  font-weight: 400;
}
.service__delivery-desc {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.6);
}

.form {
  margin-bottom: 9rem;
  padding: 6rem 0;
  background: url("../images/bochka-dlya-formi.jpg") no-repeat center/cover;
}
.form__holder {
  row-gap: 1.5rem;
}
.form__title {
  grid-column: 2/12;
  text-align: center;
  color: #fff;
  letter-spacing: 0.01em;
}
.form__form {
  grid-column: 2/12;
  display: flex;
  gap: 0.4rem;
}
.form__email {
  background: #fff;
  border-radius: 10px;
  border: none;
  padding: 0.75rem 1.5rem;
  color: rgba(0, 0, 0, 0.8);
  width: 100%;
}

.footer {
  background: #3D3126;
  padding: 3rem 0;
}
.footer li, .footer a, .footer p {
  font-weight: 400;
  line-height: 140%;
  color: #fff;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}
.footer__address, .footer__info, .footer__lk, .footer__about {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer__address-link {
  vertical-align: middle;
}
.footer__address-link span {
  text-decoration: underline;
  margin-left: 0.2rem;
}
.footer__address-link img {
  width: 1.4rem;
}
.footer__bottom {
  align-items: center;
}
.footer__form-holder {
  grid-column: 1/6;
}
.footer__form-title {
  margin-bottom: 1.5rem;
}
.footer__form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.footer__form input {
  background: none;
  border-radius: 10px;
  border: 1px solid #fff;
  padding: 0.75rem 1.5rem;
  color: #fff;
  width: 100%;
}
.footer__text {
  grid-column: 7/12;
}

/*# sourceMappingURL=home.css.map */
