html {
  font-size: 20px;
  line-height: auto;
  -webkit-text-size-adjust: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
@media (max-width: 1800px) {
  html {
    font-size: 20px;
  }
}
@media (max-width: 1400px) {
  html {
    font-size: 1.95vw;
  }
}
@media (max-width: 1024px) {
  html {
    font-size: 2.6vw;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 6.25vw;
  }
}

body {
  background-color: #FFFCF9;
  color: #000;
  font-family: Inter, Serif;
  scrollbar-gutter: stable;
}

body.menu-opened {
  position: fixed;
}

body.popup-open header {
  position: absolute;
  top: 0;
  left: 0;
}

h1,
.h1 {
  font-family: AlumniSans, Serif;
  position: relative;
  font-weight: 500;
  font-size: 2.7rem;
  letter-spacing: -0.02em;
}
@media (max-width: 1800px) {
  h1,
  .h1 {
    font-size: 2.4rem;
  }
}
@media (max-width: 1400px) {
  h1,
  .h1 {
    font-size: 1.6rem;
  }
}
@media (max-width: 1024px) {
  h1,
  .h1 {
    font-size: 1.4rem;
  }
}
h2,
.h2 {
  font-family: AlumniSans, Serif;
  position: relative;
  font-weight: 400;
  font-size: 2.7rem;
}
@media (max-width: 1800px) {
  h2,
  .h2 {
    font-size: 2rem;
  }
}
@media (max-width: 1400px) {
  h2,
  .h2 {
    font-size: 1.6rem;
  }
}
@media (max-width: 1024px) {
  h2,
  .h2 {
    font-size: 1.4rem;
  }
}
h3,
.h3 {
  font-family: Inter, Serif;
  position: relative;
  font-weight: 500;
  font-size: 1.6rem;
  letter-spacing: -0.02em;
}
@media (max-width: 1800px) {
  h3,
  .h3 {
    font-size: 1.4rem;
  }
}
h4,
.h4 {
  font-family: Inter, Serif;
  position: relative;
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: -0.02em;
}
@media (max-width: 1800px) {
  h4,
  .h4 {
    font-size: 2rem;
  }
}
h5,
.h5 {
  font-family: Inter, Serif;
  position: relative;
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: -0.02em;
  line-height: 1.2;
}
@media (max-width: 1800px) {
  h5,
  .h5 {
    font-size: 1.4rem;
  }
}
@media (max-width: 1400px) {
  h5,
  .h5 {
    font-size: 1rem;
  }
}
h6,
.h6 {
  font-family: Inter, Serif;
  position: relative;
  font-weight: 400;
  font-size: 0.8rem;
}
@media (max-width: 1800px) {
  h6,
  .h6 {
    font-size: 0.6rem;
  }
}
@media (max-width: 1400px) {
  h6,
  .h6 {
    font-size: 0.6rem;
  }
}
@media (max-width: 1024px) {
  h6,
  .h6 {
    font-size: 0.5rem;
  }
}
@media (max-width: 768px) {
  h6,
  .h6 {
    font-size: 0.3rem;
  }
}

p, li, a, span {
  font-family: Inter, Serif;
  position: relative;
  font-weight: 400;
  font-size: 1rem;
}
@media (max-width: 1800px) {
  p, li, a, span {
    font-size: 0.8rem;
  }
}
@media (max-width: 1400px) {
  p, li, a, span {
    font-size: 0.7rem;
  }
}
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 0.4rem;
}
@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(8, 1fr);
    column-gap: 0.2rem;
  }
}
@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

div {
  height: fit-content;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
}
@media (max-width: 1800px) {
  .container {
    max-width: 64rem;
  }
}
@media (max-width: 1400px) {
  .container {
    max-width: none;
    margin: 0;
    padding: 0 3rem;
  }
}
@media (max-width: 1024px) {
  .container {
    padding: 0 2rem;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 0 0.5rem;
  }
}

.p-container {
  max-width: 80rem;
  padding: 0 auto;
}
@media (max-width: 1800px) {
  .p-container {
    max-width: 64rem;
  }
}
@media (max-width: 1400px) {
  .p-container {
    max-width: none;
    margin: 0;
    padding: 0 3rem;
  }
}
@media (max-width: 1024px) {
  .p-container {
    padding: 0 2rem;
  }
}
@media (max-width: 768px) {
  .p-container {
    padding: 0 0.5rem;
  }
}

.wrapper {
  min-height: 100%;
  width: 100%;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.overlay.active {
  display: block;
}

.img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.border-btn {
  display: inline-block;
  font-size: 0.7rem;
  text-align: center;
  color: #fff;
  min-width: 10.5rem;
  padding: 0.75rem 2rem;
  border: 1px solid #fff;
  border-radius: 10px;
  background: none;
  transition: background-color 0.3s;
}
@media (max-width: 1400px) {
  .border-btn {
    font-size: 0.6rem;
    min-width: 7rem;
    padding: 0.5rem 1rem;
  }
}
.border-btn:hover {
  background: rgba(61, 49, 38, 0.3);
}

.socials {
  display: flex;
  gap: 0.4rem;
}
@media (max-width: 1800px) {
  .socials {
    height: 1.2rem;
  }
}
.socials-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.socials-item > a {
  height: 100%;
}
.socials-item > a > img {
  height: 100%;
  object-fit: contain;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background: linear-gradient(180deg, rgba(61, 49, 38, 0.7) 36.54%, rgba(61, 49, 38, 0.63) 64.42%, rgba(61, 49, 38, 0.35) 100%);
}
.header__holder, .header__holder--mobile {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  align-items: center;
}
@media (max-width: 1800px) {
  .header__holder, .header__holder--mobile {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
  }
}
@media (max-width: 1400px) {
  .header__holder, .header__holder--mobile {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
  }
}
@media (max-width: 1024px) {
  .header__holder, .header__holder--mobile {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
@media (max-width: 768px) {
  .header__holder, .header__holder--mobile {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
  }
}
@media (max-width: 1024px) {
  .header__holder {
    display: none;
  }
}
@media (max-width: 768px) {
  .header__holder {
    display: none;
  }
}
.header__holder--mobile {
  display: none;
}
@media (max-width: 1024px) {
  .header__holder--mobile {
    display: grid;
  }
}
@media (max-width: 768px) {
  .header__holder--mobile {
    display: grid;
  }
}
.header__logo {
  grid-column: 1/3;
}
@media (max-width: 1400px) {
  .header__logo {
    grid-column: 1/4;
    padding-right: 15%;
  }
}
@media (max-width: 1024px) {
  .header__logo {
    padding-right: 0;
    grid-column: 4/6;
  }
}
@media (max-width: 768px) {
  .header__logo {
    grid-column: 2/4;
  }
}
.header__menu {
  grid-column: 4/10;
}
.header__search {
  grid-column: 10/-1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.8rem;
}
@media (max-width: 1400px) {
  .header__search {
    gap: 0.6rem;
    height: 1.2rem;
  }
}
@media (max-width: 1024px) {
  .header__search {
    grid-column: 6/-1;
  }
}
@media (max-width: 768px) {
  .header__search {
    grid-column: 4/-1;
    gap: 0.2rem;
  }
}
.header__search > a {
  height: 100%;
}
.header__search > a > img {
  height: 100%;
  object-fit: contain;
}
.header__search-inp {
  width: 8.6rem;
  padding: 0.5rem;
  font-weight: 400;
  font-size: 0.6rem;
  color: #776e65;
  background: #fffcf9;
  border-radius: 5px;
  padding-right: 2rem;
}
@media (max-width: 1800px) {
  .header__search-inp {
    width: 6.3rem;
  }
}
@media (max-width: 1400px) {
  .header__search-inp {
    display: none;
  }
}
@media (max-width: 1024px) {
  .header__search-inp {
    padding: 0.4rem;
    display: block;
  }
}
@media (max-width: 768px) {
  .header__search-inp {
    display: none;
  }
}
.header__search-inp-holder {
  position: relative;
}
.header__search-inp-holder::after {
  content: "";
  background: url(../images/search-icon.svg) no-repeat center/contain;
  width: 1.4rem;
  height: 1.4rem;
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 1400px) {
  .header__search-inp-holder::after {
    display: none;
  }
}
@media (max-width: 1024px) {
  .header__search-inp-holder::after {
    display: block;
    width: 1rem;
    height: 1rem;
  }
}
@media (max-width: 768px) {
  .header__search-inp-holder::after {
    display: none;
  }
}
.header .menu__list {
  display: flex;
  gap: 0.5rem;
  justify-content: space-evenly;
}
.header .menu__item {
  position: relative;
  font-weight: 300;
  color: #fff;
  cursor: pointer;
}
@media (max-width: 1400px) {
  .header .menu__item {
    font-size: 0.6rem;
  }
}
.header .menu__item::after {
  content: "";
  background: url(../images/openDropDown-arrow.svg) no-repeat center/contain;
  width: 1.2rem;
  height: 1.2rem;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(100%, -50%) rotateZ(0);
  transition: transform 0.3s;
}
.header .menu__item--no-arrow::after {
  display: none;
}
.header .menu__item.header__drop-down-menu--open::after {
  transform: translate(100%, -50%) rotateZ(180deg);
}
.header__burder--mobile {
  grid-column: 1/2;
  display: flex;
  justify-content: flex-start;
}
.header__burger-btn--mobile {
  width: 1.2rem;
  border: none;
  background: none;
}
.header__burger-btn--mobile img {
  width: 100%;
}
.header__drop-down-menu {
  background: #3D3126;
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  transition: padding 0.3s ease;
}
.header__ddm-item {
  display: none;
  justify-content: space-between;
}
.header__drop-down-menu.header__drop-down-menu--open {
  max-height: fit-content;
  min-height: 18rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.header__ddm-item.header__drop-down-menu--open {
  display: flex;
}
.header__category-name {
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 0;
  border-bottom: 1px solid #fff;
  margin-bottom: 1rem;
}
@media (max-width: 1800px) {
  .header__category-name {
    font-size: 0.9rem;
  }
}
@media (max-width: 1400px) {
  .header__category-name {
    font-size: 0.7rem;
  }
}
.header__category-list {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}
.header__category-list--2-cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2.5rem;
}
.header__category-item > a {
  color: #fff;
  font-weight: 300;
  font-size: 0.8rem;
  line-height: 1.2;
}
@media (max-width: 1400px) {
  .header__category-item > a {
    font-size: 0.7rem;
  }
}
.header__category-item {
  transform: translateX(0);
  transition: transform 0.3s;
}
.header__category-item:hover {
  transform: translateX(5px);
  transition: transform 0.3s;
}
.header__mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #3D3126;
  z-index: 3;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: none;
  overflow-y: auto;
}
.header__mobile-menu.active {
  display: block;
}
.header .mobile-menu__closer-holder {
  display: flex;
  height: 1.2rem;
  margin-bottom: 1rem;
}
.header .mobile-menu__closer-holder .mobile-menu__closer {
  background: none;
  border: none;
}
.header .mobile-menu__closer-holder img {
  height: 100%;
  width: auto;
}

.accrodion-holder {
  display: flex;
  flex-direction: column;
}

.accordion-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  text-align: left;
  color: #fff;
  background: none;
  border: none;
}

.accordion-title {
  flex-basis: 95%;
}
@media (max-width: 768px) {
  .accordion-title {
    flex-basis: 88%;
  }
}

.accordion-bullet {
  flex-basis: 5%;
}
@media (max-width: 768px) {
  .accordion-bullet {
    flex-basis: 12%;
  }
}

.accordion-bullet > img {
  transform: rotate(0deg);
  transition: transform 0.3s;
}

.accordion-bullet.opened > img {
  transform: rotate(180deg);
}

.accordion-content {
  overflow: hidden;
  margin-bottom: 0.8rem;
  padding: 0 1rem 0 0;
  max-height: 0;
  transition: padding 0.5s ease;
  color: #fff;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 1.5rem;
  column-gap: 0.5rem;
}
@media (max-width: 768px) {
  .accordion-content {
    row-gap: 1rem;
  }
}

.accordion-content.opened {
  padding: 1rem 1rem 2rem 0;
  max-height: fit-content;
}

.accordion-item--no-open {
  color: #fff;
  margin-bottom: 0.8rem;
  line-height: 2;
}

.main {
  padding-bottom: 8rem;
  padding-top: 5.5rem;
}
@media (max-width: 1400px) {
  .main {
    padding-top: 4.5rem;
    padding-bottom: 6rem;
  }
}
@media (max-width: 1024px) {
  .main {
    padding-top: 3.5rem;
    padding-bottom: 4.5rem;
  }
}
@media (max-width: 768px) {
  .main {
    padding-top: 2.5rem;
    padding-bottom: 4rem;
  }
}

.footer {
  background: #3D3126;
  padding: 3rem 0;
  width: 100%;
}
@media (max-width: 1024px) {
  .footer {
    padding: 2rem 0;
  }
}
.footer li, .footer a, .footer p {
  font-weight: 400;
  line-height: 140%;
  color: #fff;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}
@media (max-width: 1024px) {
  .footer__top {
    display: none;
  }
}
.footer__top--mobile {
  display: none;
  row-gap: 3rem;
  margin-bottom: 3rem;
}
@media (max-width: 1024px) {
  .footer__top--mobile {
    display: grid;
  }
}
.footer__top--mobile .footer__address {
  display: grid;
  gap: 0.2rem;
  grid-column: 1/-1;
}
.footer__top--mobile .footer__address img {
  height: auto;
}
@media (max-width: 768px) {
  .footer__top--mobile .footer__address {
    gap: 0.4rem;
  }
}
.footer__top--mobile .footer__address-item:nth-child(2n) {
  grid-column: 6/-1;
}
@media (max-width: 768px) {
  .footer__top--mobile .footer__address-item:nth-child(2n) {
    grid-column: 1/-1;
  }
}
.footer__top--mobile .footer__address-item:nth-child(2n-1) {
  grid-column: 1/6;
}
@media (max-width: 768px) {
  .footer__top--mobile .footer__address-item:nth-child(2n-1) {
    grid-column: 1/-1;
  }
}
@media (max-width: 768px) {
  .footer__top--mobile .footer__address-item:first-child {
    grid-column: 1/4;
  }
}
.footer__address, .footer__info, .footer__lk, .footer__about {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (max-width: 1800px) {
  .footer__address, .footer__info, .footer__lk, .footer__about {
    gap: 0.8rem;
  }
}
.footer__info {
  grid-column: 1/3;
}
.footer__lk {
  grid-column: 3/5;
  padding-left: 2rem;
}
@media (max-width: 768px) {
  .footer__lk {
    grid-column: 3/-1;
    padding-left: 0;
  }
}
.footer__about {
  grid-column: 6/-1;
}
@media (max-width: 768px) {
  .footer__about {
    grid-column: 1/-1;
  }
}
.footer__address-link {
  vertical-align: middle;
}
.footer__address-link span {
  text-decoration: underline;
  margin-left: 0.2rem;
}
.footer__address-link img {
  width: 1.4rem;
}
@media (max-width: 1800px) {
  .footer__address-link img {
    width: 1.2rem;
  }
}
.footer__bottom {
  align-items: center;
}
.footer__form-holder {
  grid-column: 1/6;
}
@media (max-width: 1800px) {
  .footer__form-holder {
    grid-column: 1/7;
  }
}
@media (max-width: 1400px) {
  .footer__form-holder {
    grid-column: 1/9;
    margin-bottom: 2.5rem;
  }
}
@media (max-width: 1024px) {
  .footer__form-holder {
    grid-column: 1/5;
    margin-bottom: 0;
  }
}
@media (max-width: 768px) {
  .footer__form-holder {
    grid-column: 1/-1;
    margin-bottom: 2.5rem;
  }
}
.footer__form-title {
  margin-bottom: 1.5rem;
}
@media (max-width: 1800px) {
  .footer__form-title {
    font-size: 1rem;
  }
}
.footer__form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.footer__form input {
  background: none;
  border-radius: 10px;
  border: 1px solid #fff;
  padding: 0.75rem 1.5rem;
  color: #fff;
  width: 100%;
}
@media (max-width: 1024px) {
  .footer__form input {
    padding: 0.9rem;
  }
}
.footer__form-btn {
  width: 10.5rem;
  align-self: flex-end;
  margin-top: 0.7rem;
  background: #fff;
  color: #3D3126;
  transition: color 0.3s, background-color 0.3s;
}
@media (max-width: 768px) {
  .footer__form-btn {
    margin-top: 0;
  }
}
.footer__form-btn:hover {
  background: #3D3126;
  color: #fff;
}
.footer__text {
  grid-column: 7/12;
}
@media (max-width: 1800px) {
  .footer__text {
    grid-column: 8/12;
  }
}
@media (max-width: 1400px) {
  .footer__text {
    grid-column: 1/9;
  }
}
@media (max-width: 1024px) {
  .footer__text {
    grid-column: 6/-1;
  }
}
@media (max-width: 768px) {
  .footer__text {
    grid-column: 1/-1;
    font-size: 0.6rem;
  }
}

/*# sourceMappingURL=style.css.map */
