@mixin centerItem () {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin pc {
    @media (max-width: 1800px) {
        @content;
    }
}
@mixin laptop {
    @media (max-width: 1400px) {
        @content;
    }
}
@mixin tablet {
    @media (max-width: 1024px) {
        @content;
    }
}
@mixin mobile {
    @media (max-width: 768px) {
        @content;
    }
}
@mixin mobileAlbum {
    @media (orientation: landscape) and (max-height: 768px) {
        @content;
    }
}
@mixin blockGap () {
    margin-bottom: 9rem;
    
    @include pc {
        margin-bottom: 8rem;
    }
    @include laptop {
        margin-bottom: 6.5rem;
    }
    @include tablet {
        margin-bottom: 5rem;
    }
    @include mobile {
        margin-bottom: 4rem;
    }
}

.hero {
    padding-top: 5rem;
    @include blockGap();
    row-gap: 0.4rem;
    
    @include pc {
    }
    @include laptop {
    }
    @include tablet {
        padding-top: 3rem;
    }
    @include mobile {
        padding-top: 4rem;
    }
    // .hero__slider
    &__slider {
        height: 35rem;
        grid-column: 1 / 7;
        
        @include pc {
            height: 34rem;
        }
        @include laptop {
            height: 23rem;
        }
        @include tablet {
            grid-column: 1 / 5;
            height: 17.5rem;
        }
        @include mobile {
            height: 12rem;
            grid-column: 1 / -1;
        }
    }
    .slick-list {
        height: 100%;
        
        .slick-track {
            height: 100%;
        }
    }
    .slick-dots {
        display: flex!important;
        justify-content: center;
        gap: 0.2rem;
    }
    .slick-dots li {
        font-size: .4rem;
    }
    .slick-active .hero__bullet{
        background: #3D3126;
    }
    // .hero__slide
    &__slide {
        border-radius: 20px;
        overflow: hidden;
        position: relative;
    }
    &__slide img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__slide--1-sales {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        position: absolute;
        left: 1rem;
        top: 1rem;
        width: 16.5rem;
        
        @include pc {
        }
        @include laptop {
            width: 11.5rem;
        }
        @include tablet {
            width: 10rem;
        }
        @include mobile {
            left: .5rem;
            top: .5rem;
            gap: 0.4rem;
            width: 11rem;
        }
    }
    &__slide--1-sale, 
    &__slide--2-sale {
        border: 1px solid rgba(255, 255, 255, 0.56);
        border-radius: 10px;
        width: 100%;
        backdrop-filter: blur(10px);
        background: rgba(255, 255, 255, 0.08);
        display: flex;
        flex-direction: column;
        padding: .6rem .6rem .8rem 1.2rem;
        
        @include pc {
        }
        @include laptop {
            padding: .8rem .8rem;
        }
        @include tablet {
            padding: .6rem .6rem;
        }
        @include mobile {
        }
    }
    // .hero__slide--1-icon
    &__slide--1-icon, 
    &__slide--2-icon {
        width: 1.6rem;
        align-self: flex-end;
        
        @include pc {
        }
        @include laptop {
            width: 1.3rem;
        }
        @include tablet {
        }
        @include mobile {
        }
    }
    // .hero__slide--1-title
    &__slide--1-title, 
    &__slide--2-title {
        color: #fff;
    }
    &__slide--1-title-1 {
        margin-top: 0.8rem;
        margin-bottom: 2.5rem;
        
        @include pc {
            margin-bottom: 1.5rem;
        }
        @include laptop {
            margin-top: -0.4rem;
            margin-bottom: 1.3rem;
        }
        @include tablet {
            margin-top: -0.8rem;
        }
        @include mobile {
            margin-top: -1.3rem;
            margin-bottom: 1rem;
        }
    }
    &__slide--1-title-2 {
        margin-top: -0.8rem;
        margin-bottom: .8rem;

        @include mobile {
            margin-top: -1.3rem;
            margin-bottom: .5rem;
        }
    }
    // .hero__slide--1-desc
    &__slide--1-desc, 
    &__slide--2-desc {
        color: rgba(#fff, .8);
        font-size: .8rem;
        line-height: 1.2;
        
        @include pc {
        }
        @include laptop {
            font-size: .6rem;
        }
        @include tablet {
        }
        @include mobile {
        }
    }
    &__slide--2-sales {
        display: grid;
        grid: 1fr 1fr / 1fr 1fr;
        grid-template-areas: 
        'A A'
        'B C';
        gap: 0.4rem;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        padding: 1rem;
        
        @include pc {
        }
        @include laptop {
        }
        @include tablet {
            padding: .6rem;
        }
        @include mobile {
            gap: 0.2rem;
        }
    }
    &__slide--2-sale{
        height: 100%;
        justify-content: space-between;
    }
    &__slide--2-sale-1 {
        grid-area: A;
        padding: .8rem .8rem 1.2rem 1.4rem;

        @include pc {
        }
        @include laptop {
        }
        @include tablet {
            padding: 0.6rem;
        }
        @include mobile {
        }
    }
    &__slide--2-sale-2 {
        grid-area: B;
        border: none;
        backdrop-filter: none;
        background: #3D3126;
        padding: .8rem;
        
        @include pc {
        }
        @include laptop {
        }
        @include tablet {
            padding: .6rem;
        }
        @include mobile {
            padding: .2rem;
        }
    }
    &__slide--2-sale-3 {
        grid-area: C;
        border: none;
        backdrop-filter: none;
        background: #f6e9d8;
        padding: .8rem;
        
        @include pc {
        }
        @include laptop {
        }
        @include tablet {
            padding: .6rem;
        }
        @include mobile {
            padding: .2rem;
        }
    }
    &__slide--2-sale-1 &__slide--2-icon {
        width: 2.2rem;
        
        @include pc {
        }
        @include laptop {
            width: 1.6rem;
        }
        @include tablet {
            width: 1.3rem;
        }
        @include mobile {
        }
    }
    &__slide--2-sale-2 &__slide--2-icon, 
    &__slide--2-sale-3 &__slide--3-icon {
        display: flex;
        justify-content: space-between;
        width: auto;
        align-self: auto;
    }
    &__slide--2-sale-2 &__slide--2-icon img,
    &__slide--2-sale-3 &__slide--3-icon img {
        width: 1.6rem;
        
        @include pc {
        }
        @include laptop {
        }
        @include tablet {
            width: 1.3rem;
        }
        @include mobile {
            width: 1rem;
        }
    }
    &__slide--2-title-1 {
        margin-bottom: 1.6rem;
        
        @include pc {
        }
        @include laptop {
            margin-bottom: 1rem;
        }
        @include tablet {
        }
        @include mobile {
            font-size: .8rem;
            margin-top: -1.3rem;
            margin-bottom: 0.5rem;
        }
    }
    &__slide--2-subtitle,
    &__slide--3-subtitle {
        font-weight: 400;
        font-size: .5rem;
        color: rgba(#fff, .7);
        padding-right: 0.1rem;
        
        @include mobile {
            font-size: .2rem;
        }

    }
    &__slide--3-subtitle {
        color: #3D3126;
    }
    &__slide--2-desc,
    &__slide--3-desc {
        padding-right: 50%;
        
        @include pc {
            padding-right: 40%;
        }
        @include laptop {
            padding-right: 10%;
        }
        @include tablet {
            padding-right: 0;
        }
        @include mobile {
        }
    }
    &__slide--2-pic,
    &__slide--3-pic {
        width: 50%;
        align-self: center;
        
        @include pc {
        }
        @include laptop {
            width: 30%;
        }
        @include tablet {
        }
        @include mobile {
            width: 25%;
        }
    }
    &__slide--2-info,
    &__slide--3-info {
        display: flex;
        align-items: flex-end;
    }
    &__slide--2-info>a,
    &__slide--3-info>a {
        flex-basis: 60%;
    }
    &__slide--2-price,
    &__slide--3-price {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        flex-basis: 30%;
        flex-grow: 1;
    }
    &__slide--2-price-old,
    &__slide--3-price-old {
        font-weight: 500;
        font-size: .5rem;
        text-decoration: line-through;
        color: rgba(255, 255, 255, 0.79);
        display: block;

        @include mobile {
            font-size: .3rem;
        }
    }
    &__slide--3-price-old {
        color: #3D3126;
    }
    &__slide--2-price-new,
    &__slide--3-price-new {
        font-weight: 600;
        font-size: .8rem;
        color: #ff3737;
        display: block;
        padding-right: 0.25rem;

        @include mobile {
            font-size: .5rem;
        }
    }
    &__bullets {
        grid-column: 1 / 7;
        
        @include pc {
        }
        @include laptop {
        }
        @include tablet {
            grid-column: 1 / 5;
        }
        @include mobile {
            grid-column: 1 / -1;
        }
    }
    &__bullet {
        width: 0.4rem;
        height: 0.4rem;
        background: none;
        border: 1px solid #3D3126;
        border-radius: 50%;
    }
    // .hero__info
    &__info {
        grid-column: 7 / -1;
        @include centerItem();
        flex-direction: column;
        gap: 1.5rem;
        padding: 0 8rem;
        height: 100%;
        border-radius: 20px;
        background: #3D3126;
        position: relative;
        
        @include pc {
            padding: 0 5rem;
        }
        @include laptop {
            padding: 0 3rem;
        }
        @include tablet {
            grid-column: 5 / -1;
            padding: 0 2rem;
            
        }
        @include mobile {
            grid-column: 1 / -1;
            order: -1;
            padding: 2.5rem 1rem;
        }
    }
    // .hero__title
    &__title {
        color: #fff;
        text-align: center;
    }
    // .hero__desc
    &__desc {
        color: #fff;
        text-align: center;
        line-height: 1.2;
        letter-spacing: 0.02em;

        @include pc {
        }
        @include laptop {
        }
        @include tablet {
            font-size: .6rem;
        }
        @include mobile {
        }
    }
    &__btn {
        transition: color .3s, background-color .3s, border-color .3s;
    }
    &__btn:hover {
        color: #3D3126;
        background: rgba(#fff, .5);
        border-color: rgba(#fff, .5);
    }
    &__socials {
        position: absolute;
        right: 1.2rem;
        bottom: 1.2rem;

        @include pc {
        }
        @include laptop {
        }
        @include tablet {
            display: none;
        }
        @include mobile {
        }
    }
}
.about {
    @include blockGap();

    &__img {
        grid-column: 1 / 8;
        
        @include pc {
            grid-column: 2 / 7;
        }
        @include laptop {
            grid-column: 2 / 7;
        }
        @include tablet {
            grid-column: 1 / 5;
        }
        @include mobile {
            grid-column: 1 / -1;
            margin-bottom: 0.8rem;
        }
    }
    // .about__info
    &__info {
        grid-column: 8 / -1;
        padding-left: 5rem;
        align-self: center;
        
        @include pc {
            grid-column: 8 / 12;
            padding-left: 0;
        }
        @include laptop {
            grid-column: 7 / 12;
            padding-left: 1rem;
        }
        @include tablet {
            grid-column: 5 / -1;
            padding-left: 1rem;
        }
        @include mobile {
            grid-column: 1 / -1;
            padding-left: 0;
        }
    }
    // .about__text
    &__text {
        line-height: 1.2;
        margin-bottom: 1.5rem;
        
        @include pc {
        }
        @include laptop {
        }
        @include tablet {
            margin-bottom: 1.2rem;
        }
        @include mobile {
            margin-bottom: 0.8rem;
        }
    }
    // .about__btn
    &__btn {
        border-color: #3D3126;
        color: #3D3126;
    }
}
.hits {
    @include blockGap();

    &__cards {
        @include mobile {
            row-gap: .2rem;
        }
    }
    // .hits__title
    &__title {
        margin-bottom: 1.5rem;
        
        @include pc {
        }
        @include laptop {
        }
        @include tablet {
            margin-bottom: 1.2rem;
        }
        @include mobile {
            margin-bottom: .8rem;
        }
    }
    &__cards-block--1 {
        grid-column: 1 / 7;
        display: grid;
        grid: 1fr 1fr / 1fr 1fr;
        gap: 0.4rem;
        
        @include pc {
        }
        @include laptop {
        }
        @include tablet {
            grid-column: 1 / 5;
            gap: 0.2rem;
        }
        @include mobile {
        }
    }
    // .hits__card
    &__card {
        height: 100%;
        aspect-ratio: 1 / 1;
        position: relative;
    }
    &__card:hover &__card--on-hover {
        visibility: visible;
        opacity: 1;
    }
    &__card:hover &__pic {
        transform: scale(1.1);
    }
    &__card-holder {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #a98568;
        background: #fff;
        border-radius: 10px;
        padding: 0.8rem;
        height: 100%;
        
        @include pc {
        }
        @include laptop {
        }
        @include tablet {
            padding: 0.4rem;
        }
        @include mobile {
        }
    }
    &__cards-block--2 &__card-holder {
        padding: 1.4rem;

        @include pc {
        }
        @include laptop {
        }
        @include tablet {
            padding: 0.8rem;
        }
        @include mobile {
        }
    }
    &__card--on-hover {
        pointer-events: none;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 10px;
        @include centerItem();
        flex-direction: column;
        visibility: hidden;
        opacity: 0;
        transition: visibility .3s, opacity .3s;
    }
    // .hits__name--on-hover
    &__name--on-hover {
        font-weight: 600;
        font-size: 1.2rem;
        color: #fff;
        line-height: 1.4;
        
        @include pc {
        }
        @include laptop {
            font-size: 1rem;
        }
        @include tablet {
        }
        @include mobile {
            font-size: .8rem;
        }
    }
    // .hits__subname--on-hover
    &__subname--on-hover {
        font-weight: 500;
        color: #fff;
        margin-bottom: 0.6rem;
        @include mobile {
            font-size: .5rem;
        }
    }
    // .hits__price--on-hover
    &__price--on-hover {
        font-weight: 600;
        font-size: 1.2rem;
        line-height: 1.4;
        letter-spacing: -0.03em;
        color: #fff;
        @include mobile {
            font-size: 1rem;
        }
    }
    // .hits__icon
    &__icon {
        align-self: flex-end;
    }
    &__icon img {
        width: 1.6rem;
        
        @include pc {
        }
        @include laptop {
        }
        @include tablet {
            width: 1.2rem;
        }
        @include mobile {
        }
    }
    // .hits__pic
    &__pic {
        max-height: 14rem;
        transform: scale(1);
        transition: transform .3s;
        
        @include pc {
            max-height: 10rem;
        }
        @include laptop {
            max-height: 6rem;
        }
        @include tablet {
            max-height: 4rem;
        }
        @include mobile {
            
        }
    }
    &__cards-block--2 &__pic {
        max-height: none;
        
        @include pc {
            max-height: 20rem;
        }
        @include laptop {
            max-height: 15rem;
        }
        @include tablet {
            max-height: 10rem;
        }
        @include mobile {
            
        }
    }
    &__pic img {
        width: auto;
        height: 100%;
        
        @include pc {
        }
        @include laptop {
        }
        @include tablet {
            width: 100%;
            object-fit: contain;
        }
        @include mobile {
        }
    }
    // .hits__name
    &__name {
        font-size: 1.2rem;
        line-height: 1.4;
        
        @include pc {
            font-size: 1rem;
        }
        @include laptop {
            font-size: .8rem;
        }
        @include tablet {
            font-size: .7rem;
        }
        @include mobile {
            font-size: .6rem;
        }
    }
    // .hits__cards-block--2
    &__cards-block--2 {
        grid-column: 7 / -1;
        aspect-ratio: 1 / 1;
        
        @include pc {
        }
        @include laptop {
        }
        @include tablet {
            grid-column: 5 / -1;
        }
        @include mobile {
            grid-column: 1 / -1;
        }
    }
}
.service {
    @include blockGap();
    // .service__header
    &__header {
        grid-column: 1 / -1;
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.5rem;
        
        @include pc {
        }
        @include laptop {
        }
        @include tablet {
            margin-bottom: 1.2rem;
        }
        @include mobile {
            margin-bottom: .8rem;
        }
    }
    // .service__btn
    &__btn {
        border: 1px solid #3D3126;
        color: #3D3126;
    }
    // .service__block
    &__blocks {
        @include pc {
        }
        @include laptop {
        }
        @include tablet {
            display: flex;
        }
        @include mobile {
            display: grid;
            row-gap: 0.4rem; 
        }
    }
    &__block {
        border-radius: 20px;
        padding: 1.2rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        gap: 0.8rem;

        @include pc {
        }
        @include laptop {
        }
        @include tablet {
            flex-grow: 1;
            flex-basis: 0;
            height: auto;
            padding: 1rem .6rem;
        }
        @include mobile {
        }
    }
    // .service__block--1
    &__block--1 {
        grid-column: 1 / 5;
        background: rgba(244, 241, 241, 0.8);
        
        @include pc {
        }
        @include laptop {
        }
        @include tablet {
        }
        @include mobile {
            grid-column: 1 / -1;
        }
    }
    // .service__block--2
    &__block--2 {
        grid-column: 5 / 9;
        background: rgba(227, 210, 195, 0.84);

        @include pc {
        }
        @include laptop {
        }
        @include tablet {
            justify-content: flex-end;
        }
        @include mobile {
            grid-column: 1 / -1;
        }
    }
    // .service__block--3
    &__block--3 {
        grid-column: 9 / -1;
        background: #f6f3f3;

        @include pc {
        }
        @include laptop {
        }
        @include tablet {
        }
        @include mobile {
            grid-column: 1 / -1;
        }
    }
    // .service__name
    &__name {
        font-size: 1.6rem;
        
        @include pc {
            font-size: 1.4rem;
        }
        @include laptop {
            font-size: 1rem;
        }
        @include tablet {

        }
        @include mobile {
            
        }
    }
    // .service__repair
    &__repair {
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
    }
    // .service__repair-item
    &__repair-item {
        display: flex;
        justify-content: space-between;
        gap: 0.5rem;
        align-items: center;
        padding: 0.4rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);

        @include pc {
        }
        @include laptop {
        }
        @include tablet {
            padding: 0.2rem 0;
        }
        @include mobile {
        }
    }
    // .service__repair-num
    &__repair-num {
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 1.2;
        letter-spacing: -0.02em;
        
        @include pc {
            font-size: 1rem;
        }
        @include laptop {
            font-size: 1rem;
        }
        @include tablet {

        }
        @include mobile {
            
        }
    }
    // .service__repair-name
    &__repair-name {
        line-height: 1.2;
        text-align: right;

        @include pc {
        }
        @include laptop {
            font-size: .6rem;
        }
        @include tablet {
        }
        @include mobile {
        }
    }
    // .service__catalog-header
    &__catalog-header {
        line-height: 1.2;
        text-align: right;

        @include pc {
        }
        @include laptop {
        }
        @include tablet {
            display: none;
        }
        @include mobile {
            display: inline-block;
            margin-bottom: 2.5rem;
        }
    }
    &__catalog-header img {
        width: 1.6rem;
        margin-left: 0.1rem;
        vertical-align: middle;
    }
    // .service__catalog
    &__catalog {
        font-weight: 500;
        font-size: 1.6rem;
        letter-spacing: -0.02em;
        color: #24170a;
        
        @include pc {
            font-size: 1.4rem;
        }
        @include laptop {
            font-size: 1rem;
        }
        @include tablet {

        }
        @include mobile {
            
        }
    }
    // .service__delivery-item
    &__delivery-item {
        display: flex;
        justify-content: space-between;
        gap: 0.6rem;
        
        @include pc {
        }
        @include laptop {
        }
        @include tablet {
            gap: 0.4rem;
            flex-basis: 0;
            flex-grow: 1;
        }
        @include mobile {
        }
    }
    // .service__delivery-pic
    &__delivery-pic {
        border-radius: 10px;
        overflow: hidden;
        height: 100%;
        flex-basis: 40%;
        
        @include pc {
        }
        @include laptop {
        }
        @include tablet {
            flex-basis: 30%;
        }
        @include mobile {
        }
    }
    &__delivery-pic img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    // .service__delivery-info
    &__delivery-info {
        display: flex;
        flex-direction: column;
        flex-basis: 60%;
        gap: 0.4rem;
        
        @include pc {
        }
        @include laptop {
        }
        @include tablet {
            flex-basis: 70%;
        }
        @include mobile {
        }
    }
    // .service__delivery-title
    &__delivery-title {
        font-weight: 400;

        @include pc {
            font-size: 1.2rem;
        }
        @include laptop {
            font-size: .9rem;

        }
        @include tablet {

        }
        @include mobile {
            
        }
    }
    // .service__delivery-desc
    &__delivery-desc {
        font-size: .8rem;
        color: rgba(0, 0, 0, 0.6);
        
        @include pc {
        }
        @include laptop {
            font-size: .6rem;
        }
        @include tablet {
        }
        @include mobile {
        }
    }
}
.form {
    @include blockGap();
    padding: 6rem 0;
    background: url('../images/bochka-dlya-formi.jpg') no-repeat center / cover;
    
    @include pc {
        padding: 5.5rem 0;
    }
    @include laptop {
        padding: 4rem 0;
    }
    @include tablet {

    }
    @include mobile {
        
    }
    // .form__holder
    &__holder {
        row-gap: 1.5rem;
        
        @include pc {
            row-gap: 3rem;
        }
        @include laptop {
            row-gap: 1.5rem;
        }
        @include tablet {

        }
        @include mobile {
            
        }
    }
    // .form__title
    &__title {
        grid-column: 2 / 12;
        text-align: center;
        color: #fff;
        letter-spacing: 0.01em;
        
        @include pc {
            text-align: left;
        }
        @include laptop {
            text-align: center;
            grid-column: 1 / -1;
            font-size: 1.8rem;
        }
        @include tablet {
            font-size: 1.4rem;
            text-align: left;
            grid-column: 1 / 7;
        }
        @include mobile {
            font-size: 1.2rem;
            text-align: left;
            grid-column: 1 / -1;       
        }
    }
    // .form__form
    &__form {
        grid-column: 2 / 12;
        display: flex;
        gap: 0.4rem;
        
        @include pc {
        }
        @include laptop {
            grid-column: 1 / -1;
        }
        @include tablet {
        }
        @include mobile {
            flex-direction: column;
        }
    }
    // .form__email
    &__email {
        background: #fff;
        border-radius: 10px;
        border: none;
        padding: 0.75rem 1.5rem;
        color: rgba(0, 0, 0, 0.8);
        width: 100%;
    }
    &__submit {
        backdrop-filter: blur(6px);
        background: rgba(255, 255, 255, 0.01);
    }
}