@mixin centerItem () {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin pc {
    @media (max-width: 1800px) {
        @content;
    }
}
@mixin laptop {
    @media (max-width: 1400px) {
        @content;
    }
}
@mixin tablet {
    @media (max-width: 1024px) {
        @content;
    }
}
@mixin mobile {
    @media (max-width: 768px) {
        @content;
    }
}
@mixin mobileAlbum {
    @media (orientation: landscape) and (max-height: 768px) {
        @content;
    }
}
.hero {
    padding-top: 5rem;
    margin-bottom: 9rem;
    row-gap: 0.4rem;
    // .hero__slider
    &__slider {
        height: 35rem;
        grid-column: 1 / 7;
    }
    .slick-list {
        height: 100%;
        
        .slick-track {
            height: 100%;
        }
    }
    .slick-dots {
        display: flex!important;
        justify-content: center;
        gap: 0.2rem;
    }
    .slick-dots li {
        font-size: .4rem;
    }
    .slick-active .hero__bullet{
        background: #3D3126;
    }
    // .hero__slide
    &__slide {
        border-radius: 20px;
        overflow: hidden;
        position: relative;
    }
    &__slide img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__slide--1-sales {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        position: absolute;
        left: 1rem;
        top: 1rem;
        width: 16.5rem;
    }
    &__slide--1-sale, 
    &__slide--2-sale {
        border: 1px solid rgba(255, 255, 255, 0.56);
        border-radius: 20px;
        width: 100%;
        backdrop-filter: blur(10px);
        background: rgba(255, 255, 255, 0.08);
        display: flex;
        flex-direction: column;
        padding: .6rem .6rem .8rem 1.2rem;
    }
    // .hero__slide--1-icon
    &__slide--1-icon, 
    &__slide--2-icon {
        width: 1.6rem;
        align-self: flex-end;
    }
    // .hero__slide--1-title
    &__slide--1-title, 
    &__slide--2-title {
        color: #fff;
    }
    &__slide--1-title-1 {
        margin-top: 0.8rem;
        margin-bottom: 2.5rem;
    }
    &__slide--1-title-2 {
        margin-top: -0.8rem;
        margin-bottom: .8rem;
    }
    // .hero__slide--1-desc
    &__slide--1-desc, 
    &__slide--2-desc {
        color: rgba(#fff, .8);
        font-size: .8rem;
        line-height: 1.2;
    }
    &__slide--2-sales {
        display: grid;
        grid: 1fr 1fr / 1fr 1fr;
        grid-template-areas: 
        'A A'
        'B C';
        gap: 0.4rem;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        padding: 1rem;
    }
    &__slide--2-sale{
        height: 100%;
        justify-content: space-between;
    }
    &__slide--2-sale-1 {
        grid-area: A;
        padding: .8rem .8rem 1.2rem 1.4rem;
    }
    &__slide--2-sale-2 {
        grid-area: B;
        border: none;
        backdrop-filter: none;
        background: #3D3126;
        padding: .8rem;
    }
    &__slide--2-sale-3 {
        grid-area: C;
        border: none;
        backdrop-filter: none;
        background: #f6e9d8;
        padding: .8rem;
    }
    &__slide--2-sale-1 &__slide--2-icon {
        width: 2.2rem;
    }
    &__slide--2-sale-2 &__slide--2-icon, 
    &__slide--2-sale-3 &__slide--3-icon {
        display: flex;
        justify-content: space-between;
        width: auto;
        align-self: auto;
    }
    &__slide--2-sale-2 &__slide--2-icon img,
    &__slide--2-sale-3 &__slide--3-icon img {
        width: 1.6rem;
    }
    &__slide--2-title-1 {
        margin-bottom: 1.6rem;
    }
    &__slide--2-subtitle,
    &__slide--3-subtitle {
        font-weight: 400;
        font-size: .5rem;
        color: rgba(#fff, .7);
        padding-right: 0.1rem;
    }
    &__slide--3-subtitle {
        color: #3D3126;
    }
    &__slide--2-desc,
    &__slide--3-desc {
        padding-right: 21rem;;
    }
    &__slide--2-pic,
    &__slide--3-pic {
        width: 50%;
        align-self: center;
    }
    &__slide--2-info,
    &__slide--3-info {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    &__slide--2-price,
    &__slide--3-price {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    &__slide--2-price-old,
    &__slide--3-price-old {
        font-weight: 500;
        font-size: .5rem;
        text-decoration: line-through;
        color: rgba(255, 255, 255, 0.79);
        display: block;
    }
    &__slide--3-price-old {
        color: #3D3126;
    }
    &__slide--2-price-new,
    &__slide--3-price-new {
        font-weight: 600;
        font-size: 16px;
        color: #ff3737;
        display: block;
        padding-right: 0.25rem;
    }
    &__bullets {
        grid-column: 1 / 7;
    }
    &__bullet {
        width: 0.4rem;
        height: 0.4rem;
        background: none;
        border: 1px solid #3D3126;
        border-radius: 50%;
    }
    // .hero__info
    &__info {
        grid-column: 7 / -1;
        @include centerItem();
        flex-direction: column;
        gap: 1.5rem;
        padding: 0 8rem;
        height: 100%;
        border-radius: 20px;
        background: #3D3126;
        position: relative;
    }
    // .hero__title
    &__title {
        color: #fff;
        text-align: center;
    }
    // .hero__desc
    &__desc {
        color: #fff;
        text-align: center;
        line-height: 1.2;
        letter-spacing: 0.02em;
    }
    &__btn {
        transition: color .3s, background-color .3s, border-color .3s;
    }
    &__btn:hover {
        color: #3D3126;
        background: rgba(#fff, .5);
        border-color: rgba(#fff, .5);
    }
    &__socials {
        position: absolute;
        right: 1.2rem;
        bottom: 1.2rem;
    }
}
.about {
    margin-bottom: 9rem;

    &__img {
        grid-column: 1 / 8;
    }
    // .about__info
    &__info {
        grid-column: 8 / -1;
        padding-left: 5rem;
        align-self: center;
    }
    // .about__text
    &__text {
        line-height: 1.2;
        margin-bottom: 1.5rem;
    }
    // .about__btn
    &__btn {
        border-color: #3D3126;
        color: #3D3126;
    }
}
.hits {
    margin-bottom: 9rem;

    // .hits__title
    &__title {
        margin-bottom: 1.5rem;
    }
    &__cards-block--1 {
        grid-column: 1 / 7;
        display: grid;
        grid: 1fr 1fr / 1fr 1fr;
        gap: 0.4rem;
    }
    // .hits__card
    &__card {
        height: 100%;
        aspect-ratio: 1 / 1;
        position: relative;
    }
    &__card:hover &__card--on-hover {
        visibility: visible;
        opacity: 1;
    }
    &__card:hover &__pic {
        transform: scale(1.1);
    }
    &__card-holder {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #a98568;
        background: #fff;
        border-radius: 10px;
        padding: 0.8rem;
        height: 100%;
    }
    &__cards-block--2>&__card-holder {
        padding: 1.4rem;
    }
    &__card--on-hover {
        pointer-events: none;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 10px;
        @include centerItem();
        flex-direction: column;
        visibility: hidden;
        opacity: 0;
        transition: visibility .3s, opacity .3s;
    }
    // .hits__name--on-hover
    &__name--on-hover {
        font-weight: 600;
        font-size: 1.2rem;
        color: #fff;
        line-height: 1.4;
    }
    // .hits__subname--on-hover
    &__subname--on-hover {
        font-weight: 500;
        color: #fff;
        margin-bottom: 0.6rem;
    }
    // .hits__price--on-hover
    &__price--on-hover {
        font-weight: 600;
        font-size: 1.2rem;
        line-height: 1.4;
        letter-spacing: -0.03em;
        color: #fff;
    }
    // .hits__icon
    &__icon {
        align-self: flex-end;
    }
    &__icon img {
        width: 1.6rem;
    }
    // .hits__pic
    &__pic {
        max-height: 14rem;
        transform: scale(1);
        transition: transform .3s;
    }
    &__cards-block--2 &__pic {
        max-height: none;
    }
    &__pic img {
        width: auto;
        height: 100%;
    }
    // .hits__name
    &__name {
        font-size: 1.2rem;
        line-height: 1.4;
    }
    // .hits__cards-block--2
    &__cards-block--2 {
        grid-column: 7 / -1;
        aspect-ratio: 1 / 1;
    }
}
.service {
    margin-bottom: 9rem;
    // .service__header
    &__header {
        grid-column: 1 / -1;
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.5rem;
    }
    // .service__btn
    &__btn {
        border: 1px solid #3D3126;
        color: #3D3126;
    }
    // .service__block
    &__block {
        border-radius: 20px;
        padding: 1.2rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 0.8rem;
    }
    // .service__block--1
    &__block--1 {
        grid-column: 1 / 5;
        background: rgba(244, 241, 241, 0.8);
    }
    // .service__block--2
    &__block--2 {
        grid-column: 5 / 9;
        background: rgba(227, 210, 195, 0.84);
    }
    // .service__block--3
    &__block--3 {
        grid-column: 9 / -1;
        background: #f6f3f3;
    }
    // .service__name
    &__name {
        font-size: 1.6rem;
    }
    // .service__repair
    &__repair {
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
    }
    // .service__repair-item
    &__repair-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.4rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    }
    // .service__repair-num
    &__repair-num {
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 1.2;
        letter-spacing: -0.02em;
    }
    // .service__repair-name
    &__repair-name {
        line-height: 1.2;
    }
    // .service__catalog-header
    &__catalog-header {
        line-height: 1.2;
        text-align: right;
    }
    &__catalog-header img {
        width: 1.6rem;
        margin-left: 0.1rem;
        vertical-align: middle;
    }
    // .service__catalog
    &__catalog {
        font-weight: 500;
        font-size: 1.6rem;
        letter-spacing: -0.02em;
        color: #24170a;
    }
    // .service__delivery-item
    &__delivery-item {
        display: flex;
        justify-content: space-between;
        gap: 0.6rem;
    }
    // .service__delivery-pic
    &__delivery-pic {
        max-width: 8.5rem;
        border-radius: 10px;
        overflow: hidden;
    }
    &__delivery-pic img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    // .service__delivery-info
    &__delivery-info {
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
    }
    // .service__delivery-title
    &__delivery-title {
        font-weight: 400;
    }
    // .service__delivery-desc
    &__delivery-desc {
        font-size: .8rem;
        color: rgba(0, 0, 0, 0.6);
    }
}
.form {
    margin-bottom: 9rem;
    padding: 6rem 0;
    background: url('../images/bochka-dlya-formi.jpg') no-repeat center / cover;
    // .form__holder
    &__holder {
        row-gap: 1.5rem;
    }
    // .form__title
    &__title {
        grid-column: 2 / 12;
        text-align: center;
        color: #fff;
        letter-spacing: 0.01em;
    }
    // .form__form
    &__form {
        grid-column: 2 / 12;
        display: flex;
        gap: 0.4rem;
    }
    // .form__email
    &__email {
        background: #fff;
        border-radius: 10px;
        border: none;
        padding: 0.75rem 1.5rem;
        color: rgba(0, 0, 0, 0.8);
        width: 100%;
    }
}
.footer {
    background: #3D3126;
    padding: 3rem 0;

    li, a, p {
        font-weight: 400;
        line-height: 140%;
        color: #fff;
    }
    // .footer__top
    &__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2.5rem;
    }
    // .footer__address
    &__address,
    &__info,
    &__lk,
    &__about {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    &__address-link {
        vertical-align: middle;
    }
    &__address-link span {
        text-decoration: underline;
        margin-left: 0.2rem;
    }
    &__address-link img {
        width: 1.4rem;
    }
    // .footer__address-item
    &__address-item {}
    // .footer__info
    &__info {}
    // .footer__info-item
    &__info-item {}
    // .footer__lk
    &__lk {}
    // .footer__lk-item
    &__lk-item {}
    // .footer__about
    &__about {}
    // .footer__about-item
    &__about-item {}
    // .footer__bottom
    &__bottom {
        align-items: center;
    }
    // .footer__form-holder
    &__form-holder {
        grid-column: 1 / 6;
    }
    // .footer__form-title
    &__form-title {
        margin-bottom: 1.5rem;
    }
    // .footer__form
    &__form {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
    }
    &__form input {
        background: none;
        border-radius: 10px;
        border: 1px solid #fff;
        padding: 0.75rem 1.5rem;
        color: #fff;
        width: 100%;
    }
    // .footer__form-name
    &__form-name {}
    // .footer__form-tel
    &__form-tel {}
    // .footer__text
    &__text {
        grid-column: 7 / 12;
    }
}

