@mixin centerItem () {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin pc {
    @media (max-width: 1800px) {
        @content;
    }
}
@mixin laptop {
    @media (max-width: 1400px) {
        @content;
    }
}
@mixin tablet {
    @media (max-width: 1024px) {
        @content;
    }
}
@mixin mobile {
    @media (max-width: 768px) {
        @content;
    }
}
@mixin mobileAlbum {
    @media (orientation: landscape) and (max-height: 768px) {
        @content;
    }
}
@mixin blockGap () {
    margin-bottom: 8rem;
    
    @include pc {
        margin-bottom: 8rem;
    }
    @include laptop {
        margin-bottom: 6rem;
    }
    @include tablet {
        margin-bottom: 4.5rem;
    }
    @include mobile {
        margin-bottom: 1.5rem;
    }
}
main {
    p, a, span, h1, h2, h3, h4, h5, h6 {
        color: #000;
    }
}
.lk-menu {
    // .lk-menu__holder
    &__holder {
        border-radius: 20px;
        box-shadow: 1px 1px 60px 0 rgba(0, 0, 0, 0.04);
        background: #fff;
        padding: 1.5rem;
        
        @include pc {
        }
        @include laptop {
        }
        @include tablet {
        }
        @include mobile {
            padding: 1.5rem .5rem;
        }
    }
    // .lk-menu__title
    &__title {
        margin-bottom: 3rem;
    }
    // .lk-menu__sections
    &__sections {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.2rem;
        
        @include pc {
        }
        @include laptop {
        }
        @include tablet {
            gap: .8rem;
        }
        @include mobile {
            grid-template-columns: repeat(2, 1fr);
            gap: 0.2rem;
        }
    }
    // .lk-menu__item
    &__item {
        border: 1px solid #a98568;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        padding: 1.2rem 1.2rem .8rem 1.5rem;
        
        @include pc {
        }
        @include laptop {
        }
        @include tablet {
            padding: .8rem;
        }
        @include mobile {
            padding: 0.5rem;
            aspect-ratio: 1 / 1;
            justify-content: space-between;
            gap: 0;
        }
    }
    // .lk-menu__icon
    &__icon {
        width: 3.5rem;
        height: 3.5rem;
        align-self: flex-end;
        border-radius: 10px;
        background: #f4f1f1;
        padding: 0.5rem;
        
        @include pc {
        }
        @include laptop {
        }
        @include tablet {
            width: 2.5rem;
            height: 2.5rem;
        }
        @include mobile {
            width: 2rem;
            height: 2rem;
        }
    }
    // .lk-menu__item-title
    &__header {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        gap: 0.4rem;
    }
    &__item-title {
        font-family: Inter, sans-serif;
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 120%;
        color: #3d3126;
        
        @include pc {
        }
        @include laptop {
            font-size: 1rem;
        }
        @include tablet {
            font-size: .8rem;
        }
        @include mobile {
            font-size: .7rem;
        }
    }
    // .lk-menu__item-subtitle
    &__item-subtitle {
        font-weight: 400;
        font-size: .8rem;
        line-height: 120%;
        color: rgba(0, 0, 0, 0.5);

        @include pc {
        }
        @include laptop {
        }
        @include tablet {
            font-size: .7rem;
        }
        @include mobile {
            font-size: .5rem;
        }
    }
    .likes-num {
        font-weight: inherit;
        font-size: inherit;
        color: inherit;
        line-height: inherit;
    }
    .item-info {
        grid-column: 1 / -1;

        @include pc {
        }
        @include laptop {
        }
        @include tablet {
        }
        @include mobile {
            grid-column: auto;
        }
    }
}
